{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">

            </div>
            <h3 class="alert alert-info rounded-pill" style="text-align:center">Change
                Account Details</h3>
            <form action="/account" method="POST">

                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                {% if success_message %}
                <div class="alert alert-success" role="alert">
                    {{success_message}}
                </div>
                {% endif %}

                <!-- name -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input required type="text" name="firstname" id=""
                        value="{{details.first_name}}"
                        class=" form-control-sm form-control" placeholder="">
                </div>

                <!-- lastname -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input required type="text" name="lastname" id=""
                        value="{{details.last_name}}"
                        class=" form-control-sm form-control" placeholder="">
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input required type="text" name="phone" id=""
                        class="form-control form-control-sm"
                        value="{{details.phone}}" placeholder="0xxxxxxxxx (only
                        numbers)" pattern="\d{10}"
                        title="Please recheck your phone number, it should be 10
                        digits">
                </div>


                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                        value="{{details.email}}"
                        class="form-control-sm form-control" placeholder="Please
                        use chula account"
                        pattern=".+@.+\.chula\.ac\.th"
                        title="Please enter a valid Chula email address
                        (example@chula.ac.th)">
                </div>

                <!--Submit button-->

                <hr>
                <button type="submit" class="btn btn-sm btn-success col-lg-12">Submit
                    Changes</button>

                <!-- for resolve the overlap box and button -->
                <div class="form-group"> </div>
            </div>
        </div>
    </div>

    {% endblock %}