{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group-item " style="border-radius: 25px; margin-bottom: 10px;">
				<form action="{% url 'product_search' %}" method="GET">
					<input type="text" name="query" placeholder="Search here..."
						style="width: 90%; border: 1px solid white; outline: none;">
					<span>
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/111px-Vector_search_icon.svg.png"
							style="width: 17px; height: 19px; float: right; margin-top: 6px;">
					</span>
				</form>
			</div>
			<div class="list-group">
				<a href="store" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>

				{% for category in categories %}
				<a href="store?category={{category.id}}"
					class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				{% for vendor in all_vendors %}
				{% if product.ownerid == vendor.id %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<div class="card-header">
						<img src="{{ vendor.store_picture.url }}"
							style="width: 35px;height: 35px; border: 1px solid #333333; border-radius: 50%; margin-right: 5px">
						<a style="font-size: 16px;color: #0080ff" href="profile/{{vendor.id}}"><b>{{ vendor.store_name }}</b></a>
					</div>
					{% endif %}
					{% endfor %}

					{% if product.status %}
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					{% else %}
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap"
						style="filter: grayscale(100%);">
					<img class="card-img-top" src="https://pngimg.com/uploads/sold_out/sold_out_PNG90.png"
						style="width:250px ; position: absolute; top:100px; left: 30px; filter:brightness(10%);">
					{% endif %}

					<div class="card-body">
						<a class="card-title" href="product_details/{{product.id}}/" style="font-size:13pt"><b>{{product.name}}</b></a>
						<p class="card-text" style="font-size:11pt"><b>{{product.price|currency}}</b></p>
						<!-- {{product | is_in_cart:request.session.cart }} -->
					</div>

					<div class="card-footer p-0 no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="/buyers/" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-success border-right">
							</form>
							<div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}}
								in Cart</div>
							<form action="/buyers/" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-success border-left">
							</form>
						</div>
						{% else %}
						<form action="/buyers/" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							{% if product.status %}
							<input type="submit" class="float-right btn btn-success form-control" value="Add To Cart">

							{% else %}
							<input disabled type="submit" class="float-right btn btn-danger form-control" value="Not Available">
							{% endif %}
						</form>
						{% endif %}
					</div>
				</div>
				{% endfor %}

			</div>
		</div>

	</div>
</div>



{% endblock %}