{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="product">
    <img src="{{product.image.url}}" class="product-image" alt="Product Image" >
    <div class="product-details">
    <h3 class="product-name">{{products.name}}</h3>
    <p class="product-price"> Price {{products.price|currency}}</p>
    <a> Description </a>
    <p class="product-price">{{products.description}}</p>
    </div>
</div>
    <!-- <form action="{% url 'cart' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form> -->
    <div id='products' class="col-lg-9 mx-auto">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
                <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" >
                <div class="card-body">
                    <a class="card-title" href="product_details/{{product.id}}">{{product.name}}</a>
                    <p class="card-text"><b>{{product.price|currency}}</b></p>
                    <!-- {{product | is_in_cart:request.session.cart }} -->
                </div>

                <div class="card-footer p-0 no-gutters">

                    {% if product|is_in_cart:request.session.cart %}
                    <div class="row no-gutters">
                        <form action="/#{{product.id}}" class="col-2 " method="post">
                            {% csrf_token %}
                            <input hidden type="text" name='product' value='{{product.id}}'>
                            <input hidden type="text" name='remove' value='True'>
                            <input type="submit" value=" - " class="btn btn-block btn-success border-right">
                        </form>
                        <div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}} in Cart</div>
                        <form action="/#{{product.id}}" class="col-2 " method="post">
                            {% csrf_token %}
                            <input hidden type="text" name='product' value='{{product.id}}'>
                            <input type="submit" value=" + " class="btn btn-block btn-success border-left">
                        </form>
                    </div>
                    {% else %}
                    <form action="/#{{product.id}}" method="POST" class="btn-block">
                        {% csrf_token %}
                        <input hidden type="text" name='product' value='{{product.id}}'>
                        <input type="submit" class="float-right btn btn-success form-control"
                            value="Add To Cart">
                    </form>
                    {% endif %}

                </div>

            </div>
            {% endfor %}
        </div>
{% endblock %}

