{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="card mx-auto mb-3" style="width: 30rem;">
    <img class="card-img-top" src="{{ products.image.url }}" alt="Product image">
    <div class="card-body">
        <h5 class="card-title">{{ products.name }}</h5>
        <p class="card-text">{{ products.description }}</p>
        <p class="card-text"><b>{{ products.price|currency }}</b></p>
    </div>
    <div class="card-footer p-0 no-gutters">

        {% if products|is_in_cart:request.session.cart %}
        <div class="row no-gutters">
            <form action="/#{{products.id}}" class="col-2 " method="post">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{products.id}}'>
                <input hidden type="text" name='remove' value='True'>
                <input type="submit" value=" - " class="btn btn-block btn-success border-right">
            </form>
            <div class="text-center col btn btn-success">{{products|cart_quantity:request.session.cart}} in Cart</div>
            <form action="/#{{products.id}}" class="col-2 " method="post">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{products.id}}'>
                <input type="submit" value=" + " class="btn btn-block btn-success border-left">
            </form>
        </div>
        {% else %}
        <form action="/#{{products.id}}" method="POST" class="btn-block">
            {% csrf_token %}
            <input hidden type="text" name='product' value='{{products.id}}'>
            <input type="submit" class="float-right btn btn-success form-control"
                value="Add To Cart">
        </form>
        {% endif %}

    </div>

</div>

{% endblock %}
