{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="product">
    {% for image in product.images.all %}
        <img src="{{image.url}}" alt="Product Image" class="product-image">
    {% endfor %}
    <div class="product-details">
    <h3 class="product-name">{{products.name}}</h3>
    <p class="product-price">{{products.price}}</p>
    <p class="product-price">{{products.description}}</p>
    </div>
</div>
    <form action="{% url 'cart' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>

{% endblock %}

