{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
          <div class="col-xs-12 col-sm-7">
            
            <!-- User profile -->
            <div class="panel panel-default">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <div class="profile__avatar">
                  <img src="{{vendor.store_picture.url}}" alt="...">
                </div>
                <div class="profile__header">
                    <div class="name"><h4>{{vendor.contact_person_first_name}} {{vendor.contact_person_last_name}}</h4></div>
                  
                  <p class="text-muted">
                    Representative of {{vendor.store_name}}'s store
                  </p>

                </div>
              </div>
            </div>
    
            <!-- User info -->
            <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title">User info</h4>
              </div>
              <div class="panel-body">
                <table class="table profile__table">
                  <tbody>
                    <tr>
                      <th><strong>Location</strong></th>
                      <td>Thailand</td>
                    </tr>
                    <tr>
                      <th><strong>Company Name</strong></th>
                      <td>{{vendor.store_name}}</td>
                    </tr>
                    <tr>
                      <th><strong>Company Website</strong></th>
                      <td>{{vendor_store}}.pmndomain.com</td>
                    </tr>
                    <tr>
                      <th><strong>Operation Time</strong></th>
                      <td>{{open_hour}} - {{to_hour}}</td>
                    </tr>
                    <tr>
                      <th><strong>Position</strong></th>
                      <td>Owner</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
    
            <!-- Community -->
            <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title">Community</h4>
              </div>
              <div class="panel-body">
                <table class="table profile__table">
                  <tbody>
                    <tr>
                      <th><strong>Listing Product</strong></th>
                      <td>{{num_product}}</td>
                    </tr>
                    <tr>
                      <th><strong>Member since</strong></th>
                      <td>{{vendor.member_since}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
    
    
          </div>
          <div class="col-xs-12 col-sm-5">
            
            <!-- Contact user -->
    
            <hr class="profile__contact-hr">
            
            <!-- Contact info -->
            <div class="profile__contact-info">
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Mobile number</h5>
                  {{vendor.phone}}
                </div>
              </div>
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-envelope-square"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">E-mail address</h5>
                  <a >{{vendor.email}}</a>
                </div>
              </div>
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Store address</h5>
                  {{vendor.address}}
                <div class="googlemap_api" style="margin-top:20px">
                  <iframe
                    width="400"
                    height="400"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key={{api}}
                      &q={{vendor.address}}">
                  </iframe>
                </div>
                </div>
              </div>
            </div>
    
          </div>
        </div>
    </div>

    <style>
/**
 * Panels
 */
/*** General styles ***/

.container {
    margin-top : 60px
}
.panel {
  box-shadow: none;
}
.panel-heading {
  border-bottom: 0;
}
.panel-title {
  font-size: 17px;
  margin-top:40px
}

.panel-title > small {
  font-size: .75em;
  color: #999999;
}
.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
}

/**
 * Profile
 */
/*** Profile: Header  ***/

.profile__avatar {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .profile__avatar {
    width: 100px;
    height: 100px;
  }
}
.profile__avatar > img {
  width: 100%;
  height: auto;
}
.profile__header {
  overflow: hidden;
}
.profile__header p {
  margin: 20px 0;
}
/*** Profile: Table ***/
@media (min-width: 992px) {
  .profile__table tbody th {
    width: 200px;
  }
}
.profile-comments__content {
  color: #999999;
}
/*** Profile: Contact ***/

.profile__contact-btn {
  padding: 12px 20px;
  margin-bottom: 20px;
}
.profile__contact-hr {
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 40px 0;
}
.profile__contact-hr:before {
  content: "CONTACT";
  display: block;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  color: #c6c6cc;
}
.profile__contact-info-item {
  margin-bottom: 30px;
}
.profile__contact-info-item:before,
.profile__contact-info-item:after {
  content: " ";
  display: table;
}
.profile__contact-info-item:after {
  clear: both;
}
.profile__contact-info-item:before,
.profile__contact-info-item:after {
  content: " ";
  display: table;
}
.profile__contact-info-item:after {
  clear: both;
}
.profile__contact-info-icon {
  float: left;
  font-size: 18px;
  color: #999999;
}
.profile__contact-info-body {
  overflow: clip;
  padding-left: 20px;
  color: #999999;
}
.profile__contact-info-body a {
  color: #999999;
}
.profile__contact-info-body a:hover,
.profile__contact-info-body a:focus {
  color: #999999;
  text-decoration: none;
}
.profile__contact-info-heading {
  margin-top: 2px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #999999;
}

div.col-xs-12 {
  padding-left:-10px
}
    </style>
    {% endblock %}